/*html covers the whole page */
html {
    font-family: "Montserrat", sans-serif;
}
/* fonts
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
*/

h1 {
    font-family: 'PT Serif', serif;
    font-size:60px;
    text-align: center;
    margin: 0;
    padding: 60px 0;
}
p,li {
    font-size: 13px;
    line-height: 2;
    letter-spacing: 1px;
}
.bold {
    font-weight:bold;
}
li.bold {
    font-style: italic;
}
p.bold {
    text-decoration:underline;
}
.spacedletters {
    letter-spacing:2px;
}
p.captions {
    padding: 10px;
    margin: 0;
    font-size: 15px;
}

body {
    width:1400px;
    margin:0 auto; /*adds as much as needed?*/
    padding:0 20px 20px 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 60% /* of containing body*/;
    /* height: auto; */
}

.container{
    border: 2px solid black;
    padding:    10px;
    font-size: 24px;
    margin: 5px auto;
    width: 600px;
    height: 600px;
    display:grid;
    grid-template-columns: 300px 300px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
}
.box{
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    font-size:40px;
}

span.species {
    font-weight:bold;
}


/*gallery formatting*/

h2 {
    font-family: 'PT Serif', serif;
    font-size: 20;
    text-align: center;
}

body.gallery {
    width: 640px;
    margin: 0 auto;
}

.full-img {
    display: block;
    width: 640px;
    height: 480px;
}
.thumb-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.thumb-bar img {
    width: 20%;
    cursor: pointer; /*turns cursor into pointer like clickable icon*/
}

/* only applies when hovered over */
.thumb-bar img:hover {
    opacity:0.5
}