/*html covers the whole page */
html {
    font-family: "Roboto", sans-serif;
}
/* fonts
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
*/

h1 {
    font-family: 'PT Serif', serif;
    font-size:60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
p,li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
.bold {
    font-weight:bold;
}
li.bold {
    font-style: italic;
}
p.bold {
    text-decoration:underline;
}
.spacedletters {
    letter-spacing:2px;
}

body {
    background-color:rgb(225, 234, 255); /*can also use color names or hex color codes*/
    width:600px;
    margin:0 auto; /*adds as much as needed?*/
    padding:0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    width: 70% /* of containing body*/;
    /* height: auto; */
}
.container { 
    width: 210px; 
}

.fourblocks {
    display: inline-block; 
    width: 100px; 
    border: solid 1px red; 
    height: 100px;
}
.twoblocks {
    display: inline-block; 
    width: 200px; 
    border: solid 1px red; 
    height: 200px;
}

span.species {
    font-weight:bold;
}