/*html covers the whole page */
html {
    font-family: "Montserrat", sans-serif;
}
/* fonts
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
*/

h1 {
    font-family: 'PT Serif', serif;
    font-size:60px;
    text-align: center;
    margin: 0;
    padding: 60px 0;
}
p,li {
    font-size: 13px;
    line-height: 2;
    letter-spacing: 1px;
}
.bold {
    font-weight:bold;
}
li.bold {
    font-style: italic;
}
p.bold {
    text-decoration:underline;
}
.spacedletters {
    letter-spacing:2px;
}

body {
    width:800px;
    margin:0 auto; /*adds as much as needed?*/
    padding:0 20px 20px 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 60% /* of containing body*/;
    /* height: auto; */
}

.container{
    margin: 10px auto;
    padding:30px;
    width:500px;
    height:500px;
    display:grid;
    grid-template-columns: 300px 300px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.box{
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
}

span.species {
    font-weight:bold;
}